.content__samples {
  margin: 0 auto;
  padding: 60px 50px 60px 0;
}

@media (max-width: 1400px) {
  .content__samples {
    padding: 0 34px 34px 34px;
    margin: 0 50px;
  }
}

@include breakPoint("content__samples", $miniTablet) {
  margin: 0 20px;
  padding: 0 10px 10px 10px;
}
