.page__button {
  padding: 12px 30px;
  border: 0;
  max-width: 163px;
  max-height: 55px;
  background-color: $thirdColor;
  color: $secondaryColor;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px $secondaryColor;
  }
}
