.samples__title {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: 0.3px;
  color: $secondaryColor;
  margin: 0;
  padding: 149px 0 0 150px;
  grid-column: 1;
}

@media (max-width: 1400px) {
  .samples__title {
    padding: 60px 0 0 26px;
  }
}

@include breakPoint("samples__title", $miniTablet) {
  padding: 20px 0 0px 10px;
  font-size: 20px;
  line-height: 24px;
}
