.footer__title {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 33px;
  letter-spacing: 0.3px;
  color: $primaryColor;
  margin: 0;
  padding: 0 145px 20px 0;
  grid-row: 1;
}

@media (max-width: 1200px) {
  .footer__title {
    padding-right: 96px;
  }
}

@media (max-width: $tablet) {
  .footer__title {
    padding: 0 0 20px 0;
  }
}
