.composition__item {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 51px;
  color: $primaryColor;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  padding-bottom: 4px;
}

.composition__item:last-child {
  margin-bottom: 0;
}

@include breakPoint("composition__item", $miniTablet) {
  font-size: 22px;
  line-height: 22px;
  margin: 0 20px 20px 20px;
  padding-bottom: 21px;
}
