$fontFamily: "Inter", "Arial", sans-serif;
$primaryColor: #fff;
$secondaryColor: #1e3264;
$thirdColor: #ffdb00;
$fourthColor: #9960f6;
$fifthColor: #cef564;
$sixthColor: #016450;
$desktop: 1440px;
$bigTablet: 1200px;
$tablet: 767px;
$miniTablet: 590px;
$mobile: 320px;
