@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
/*header*/
.page__header {
  margin: 0 auto;
  background-color: #9960f6;
  display: flex;
  overflow: hidden;
  position: relative;
  /*header__icon*/
}
.page__header:after {
  position: absolute;
  content: "";
  top: 50px;
  right: 50px;
  background: center no-repeat url(../images/icon-earth.png);
  background-size: cover;
  width: 169px;
  height: 169px;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 0 0 186px rgba(53, 48, 255, 0.2);
}

@media (max-width: 1330px) {
  .page__header {
    /*header__icon*/
  }
  .page__header:after {
    box-shadow: none;
  }
}
@media (max-width: 1200px) {
  .page__header {
    flex-direction: column;
    /*header__icon*/
  }
  .page__header:after {
    top: 40px;
    width: 128px;
    height: 128px;
  }
}
@media (max-width: 767px) {
  .page__header {
    /*header__icon*/
  }
  .page__header:after {
    top: 20px;
    right: 20px;
    width: 94px;
    height: 94px;
  }
}
.page__button {
  padding: 12px 30px;
  border: 0;
  max-width: 163px;
  max-height: 55px;
  background-color: #ffdb00;
  color: #1e3264;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  cursor: pointer;
  transition: all 0.1s;
}
.page__button:hover {
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #1e3264;
}

.header__first-section {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 783px;
  margin: 40px 0 50px 50px;
}
.header__first-section::after {
  position: absolute;
  content: "";
  bottom: -24px;
  right: -43px;
  background: center no-repeat url(../images/icon-pineapple.png);
  background-size: cover;
  width: 130px;
  height: 125px;
  transform: rotate(10deg);
  z-index: 2;
}

@media (max-width: 1200px) {
  .header__first-section {
    margin: 40px auto 0 auto;
    max-width: 668px;
  }
  .header__first-section::after {
    bottom: 30px;
    right: 30px;
  }
}
@media (max-width: 767px) {
  .header__first-section {
    margin: 20px auto 0 auto;
    min-width: 280px;
  }
  .header__first-section::after {
    width: 84px;
    height: 81px;
    bottom: -32px;
    right: 11px;
  }
}
@media (max-width: 708px) {
  .header__first-section {
    margin: 20px 20px 0 20px;
  }
}
.header__logo {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffdb00;
}

@media (max-width: 320px) {
  .header__logo {
    font-size: 20px;
  }
}
.header__image {
  max-width: 100%;
  max-height: 100%;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .header__image {
    margin-top: 126px;
  }
}
@media (max-width: 320px) {
  .header__image {
    margin-top: 50px;
  }
}
.header__second-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 100px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .header__second-section {
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
    min-width: 668px;
  }
}
@media (max-width: 767px) {
  .header__second-section {
    margin: 50px auto 50px auto;
  }
}
@media (max-width: 708px) {
  .header__second-section {
    flex-direction: column;
    justify-content: flex-end;
    margin: 50px 20px 20px 20px;
    min-width: 280px;
  }
}
.header__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  line-height: 48px;
  color: #fff;
  max-width: 400px;
  margin: 0;
  padding-bottom: 170px;
}

@media (max-width: 1330px) {
  .header__title {
    max-width: 250px;
  }
}
@media (max-width: 1200px) {
  .header__title {
    max-width: 300px;
    padding-bottom: 0;
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 708px) {
  .header__title {
    padding-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .header__title {
    max-width: 225px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 708px) {
  .header__button {
    font-size: 16px;
    padding: 10px 30px;
    max-width: 152px;
    max-height: 51px;
  }
}