@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
/*header*/
.page__header {
  margin: 0 auto;
  background-color: #9960f6;
  display: flex;
  overflow: hidden;
  position: relative;
  /*header__icon*/
}
.page__header:after {
  position: absolute;
  content: "";
  top: 50px;
  right: 50px;
  background: center no-repeat url(../images/icon-earth.png);
  background-size: cover;
  width: 169px;
  height: 169px;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 0 0 186px rgba(53, 48, 255, 0.2);
}

@media (max-width: 1330px) {
  .page__header {
    /*header__icon*/
  }
  .page__header:after {
    box-shadow: none;
  }
}
@media (max-width: 1200px) {
  .page__header {
    flex-direction: column;
    /*header__icon*/
  }
  .page__header:after {
    top: 40px;
    width: 128px;
    height: 128px;
  }
}
@media (max-width: 767px) {
  .page__header {
    /*header__icon*/
  }
  .page__header:after {
    top: 20px;
    right: 20px;
    width: 94px;
    height: 94px;
  }
}
.page__button {
  padding: 12px 30px;
  border: 0;
  max-width: 163px;
  max-height: 55px;
  background-color: #ffdb00;
  color: #1e3264;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  cursor: pointer;
  transition: all 0.1s;
}
.page__button:hover {
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #1e3264;
}

.header__first-section {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 783px;
  margin: 40px 0 50px 50px;
}
.header__first-section::after {
  position: absolute;
  content: "";
  bottom: -24px;
  right: -43px;
  background: center no-repeat url(../images/icon-pineapple.png);
  background-size: cover;
  width: 130px;
  height: 125px;
  transform: rotate(10deg);
  z-index: 2;
}

@media (max-width: 1200px) {
  .header__first-section {
    margin: 40px auto 0 auto;
    max-width: 668px;
  }
  .header__first-section::after {
    bottom: 30px;
    right: 30px;
  }
}
@media (max-width: 767px) {
  .header__first-section {
    margin: 20px auto 0 auto;
    min-width: 280px;
  }
  .header__first-section::after {
    width: 84px;
    height: 81px;
    bottom: -32px;
    right: 11px;
  }
}
@media (max-width: 708px) {
  .header__first-section {
    margin: 20px 20px 0 20px;
  }
}
.header__logo {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffdb00;
}

@media (max-width: 320px) {
  .header__logo {
    font-size: 20px;
  }
}
.header__image {
  max-width: 100%;
  max-height: 100%;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .header__image {
    margin-top: 126px;
  }
}
@media (max-width: 320px) {
  .header__image {
    margin-top: 50px;
  }
}
.header__second-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 100px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .header__second-section {
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
    min-width: 668px;
  }
}
@media (max-width: 767px) {
  .header__second-section {
    margin: 50px auto 50px auto;
  }
}
@media (max-width: 708px) {
  .header__second-section {
    flex-direction: column;
    justify-content: flex-end;
    margin: 50px 20px 20px 20px;
    min-width: 280px;
  }
}
.header__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  line-height: 48px;
  color: #fff;
  max-width: 400px;
  margin: 0;
  padding-bottom: 170px;
}

@media (max-width: 1330px) {
  .header__title {
    max-width: 250px;
  }
}
@media (max-width: 1200px) {
  .header__title {
    max-width: 300px;
    padding-bottom: 0;
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 708px) {
  .header__title {
    padding-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .header__title {
    max-width: 225px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 708px) {
  .header__button {
    font-size: 16px;
    padding: 10px 30px;
    max-width: 152px;
    max-height: 51px;
  }
}
/*main*/
.content__section {
  margin: 0 auto;
  overflow: hidden;
}

/*about*/
.about__border {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  color: #016450;
  text-transform: uppercase;
  background-color: #cef564;
  margin: 0;
  margin-left: -93px;
  padding: 20px 0;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 767px) {
  .about__border {
    font-size: 20px;
    line-height: 25px;
    margin-left: -109px;
  }
}
.about__main-title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-style: normal;
  line-height: 60px;
  letter-spacing: 0.5px;
  color: #1e3264;
  margin: 120px auto;
  text-align: center;
}

@media (max-width: 590px) {
  .about__main-title {
    font-size: 20px;
    line-height: 25px;
    margin: 50px auto;
  }
}
.about__section {
  margin: 0 50px;
}

@media (max-width: 590px) {
  .about__section {
    margin: 0 20px;
  }
}
.about__text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  color: #fff;
  margin: 30px 0 0 100px;
  max-width: 386px;
  opacity: 80%;
}

@media (max-width: 1285px) {
  .about__text {
    margin: 30px 0 0 60px;
  }
}
@media (max-width: 590px) {
  .about__text {
    font-size: 14px;
    line-height: 19px;
    max-width: 240px;
    margin: 14px 0 0 20px;
  }
}
.about__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 48px;
  color: #fff;
  margin: 90px 0 0 100px;
}

@media (max-width: 1285px) {
  .about__title {
    margin: 60px 0 0 60px;
  }
}
@media (max-width: 590px) {
  .about__title {
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0 0 20px;
  }
}
.tastes {
  display: flex;
  justify-content: space-between;
  background-color: #9960f6;
}

@media (max-width: 1285px) {
  .tastes {
    flex-direction: column;
  }
}
.tastes__image {
  max-width: 518px;
  margin: 90px 100px;
}

@media (max-width: 1285px) {
  .tastes__image {
    max-width: 100%;
    margin: 60px 60px;
  }
}
@media (max-width: 590px) {
  .tastes__image {
    margin: 50px 20px 20px 20px;
  }
}
.composition {
  display: grid;
  background-color: #8556f8;
  position: relative;
  min-height: 580px;
}

.composition__button {
  grid-row: 4;
  margin: 0 0 90px 100px;
  padding: 12px 21px;
}

@media (max-width: 1340px) {
  .composition__button {
    margin-bottom: 60px;
  }
}
@media (max-width: 1285px) {
  .composition__button {
    margin-left: 60px;
  }
}
@media (max-width: 590px) {
  .composition__button {
    margin: 0 0 20px 20px;
  }
}
.composition__item {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 51px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  padding-bottom: 4px;
}

.composition__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 590px) {
  .composition__item {
    font-size: 22px;
    line-height: 22px;
    margin: 0 20px 20px 20px;
    padding-bottom: 21px;
  }
}
.composition__list {
  margin: 90px 100px 90px 0;
  padding: 0;
  min-width: 255px;
  list-style: none;
  grid-row: 1/5;
  justify-self: end;
  /*icon-big-ball*/
  /*icon-small-ball*/
}
.composition__list:before {
  position: absolute;
  content: "";
  bottom: 272px;
  right: 533px;
  background: center no-repeat url(../images/icon-big-ball.svg);
  background-size: cover;
  width: 185px;
  height: 185px;
  z-index: 2;
}
.composition__list:after {
  position: absolute;
  content: "";
  bottom: 121px;
  right: 481px;
  background: center no-repeat url(../images/icon-small-ball.svg);
  background-size: cover;
  width: 138px;
  height: 138px;
  z-index: 2;
}

@media (max-width: 1340px) {
  .composition__list {
    grid-row: 3;
    justify-self: start;
    margin: 100px 0 100px 100px;
    /*icon-big-ball*/
    /*icon-small-ball*/
  }
  .composition__list:before {
    bottom: 430px;
    right: 60px;
  }
  .composition__list:after {
    bottom: 272px;
    right: 60px;
  }
}
@media (max-width: 1285px) {
  .composition__list {
    margin-left: 60px;
  }
}
@media (max-width: 590px) {
  .composition__list {
    margin: 60px 0 60px 0;
    min-width: 280px;
    /*icon-big-ball*/
    /*icon-small-ball*/
  }
  .composition__list:before {
    right: 20px;
    bottom: 300px;
  }
  .composition__list:after {
    right: 20px;
    bottom: 140px;
  }
}
@media (max-width: 370px) {
  .composition__list {
    /*icon-big-ball*/
    /*icon-small-ball*/
  }
  .composition__list:before {
    display: none;
  }
  .composition__list:after {
    display: none;
  }
}
.slogan {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1285px) {
  .slogan {
    flex-direction: column;
  }
}
.slogan__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 67px;
  letter-spacing: 0.3px;
  color: #1e3264;
  max-width: 460px;
  margin: 190px 0 190px 104px;
  /*icon-mango*/
}
.slogan__title:after {
  position: absolute;
  content: "";
  bottom: 293px;
  right: 494px;
  background: center no-repeat url(../images/icon-mango.png);
  background-size: cover;
  width: 172px;
  height: 172px;
  transform: rotate(-15deg);
  z-index: 2;
}

@media (max-width: 1285px) {
  .slogan__title {
    text-align: center;
    max-width: 550px;
    margin: 120px auto 0 auto;
    /*icon-mango*/
  }
  .slogan__title:after {
    bottom: 319px;
    left: 27px;
    transform: rotate(-19deg);
  }
}
@media (max-width: 720px) {
  .slogan__title {
    /*icon-mango*/
  }
  .slogan__title:after {
    left: 50px;
    bottom: 51px;
    width: 99px;
    height: 99px;
  }
}
@media (max-width: 590px) {
  .slogan__title {
    font-size: 20px;
    line-height: 24px;
    max-width: 280px;
    margin: 50px auto 0 auto;
  }
}
@media (max-width: 400px) {
  .slogan__title {
    /*icon-mango*/
  }
  .slogan__title:after {
    left: 8px;
  }
}
.slogan__title_up {
  text-transform: uppercase;
  margin: 0;
}

.slogan__image {
  max-width: 430px;
  margin: 70px 130px -100px 0;
}

@media (max-width: 1285px) {
  .slogan__image {
    max-width: 70%;
    margin: 120px auto -90px auto;
  }
}
@media (max-width: 768px) {
  .slogan__image {
    max-width: 100%;
    margin: 120px 119px -90px 119px;
  }
}
@media (max-width: 650px) {
  .slogan__image {
    max-width: 60%;
    margin: 50px auto -60px auto;
  }
}
@media (max-width: 320px) {
  .slogan__image {
    max-width: 100%;
    margin: 50px 0 -60px 0;
  }
}